@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

}


#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Tussilago";
  src: url(./assets/fonts/tussilagorg-bold.otf);
}

@theme{
  --font-tussilago: "Tussilago";
  --color-blueSecondary: #3A91C1;
  --color-brandWhite: #F5EDEF;
  --color-brandYellow: #c6e12e;
}