@import "tailwindcss";



@font-face {
  font-family: "Tussilago";
  src: url(./assets/fonts/tussilagorg-bold.otf);
}
@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@theme{
  --font-tussilago: "Tussilago";
  --font-roboto: "Roboto";
  --color-blueSecondary: #3A91C1;
  --color-brandWhite: #F5EDEF;
  --color-brandYellow: #c6e12e;
  --color-brandGreen: #83D374;
  --color-brandDarkGreen: #09BE9C;
  --color-brandBlack: #000006;
  --color-brandRed: #D00D1E;
  --color-brandDarkBlue:#027D8F;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F5EDEF;
  font-family: "Roboto";
}


#root {
  width: 100%;
  height: 100%;
}